@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    width: 90vw !important;
    height: 100vh !important;
}

.banner{
    font-family: "Lexend";
    color: white;
    min-height: 100vh;
    min-width: 90vw !important;
    font-size: 50px;
    padding: 4.5vw !important;
    margin-top: -10vh;
    margin-left: -1vw;
    background-image: linear-gradient(90deg, rgba(185,29,29,1) 0%, rgba(91,0,0,0.7572071064754027) 45%, rgba(0,21,57,0.3706524846266631) 91%), 
    url('assets/header-background.jpg');
    background-size: 100%;
    box-shadow: 0px 5px 5px 0px rgba(124, 124,124);
}

.robbery{
    background-image: linear-gradient(90deg, rgba(185,29,29,1) 0%, rgba(91,0,0,0.7572071064754027) 45%, rgba(0,21,57,0.3706524846266631) 91%), 
    url('assets/perampokan-background.jpg');
    border-radius: 30px;
    margin-top: 2% !important;
    max-height: 10% !important;
}

.fire{
    background-image: linear-gradient(90deg, rgba(185,29,29,1) 0%, rgba(91,0,0,0.7572071064754027) 45%, rgba(0,21,57,0.3706524846266631) 91%), 
    url('assets/kebakaran-background.jpg');
    border-radius: 30px;
    margin-top: 2% !important;
    max-height: 10% !important;
}
.normal-banner{
    font-family: "Lexend";
    display: inline;
    margin-left: 50px;
    
}
.normal-banner h1{
    display: inline;
    color: rgba(185,29,29,1);
    font-size: 40px;
}


.banner a{
    color: white;
}
.banner a:hover{
    color:rgb(204, 204, 204)
}


header h1{
    padding-top: 50vh;
    font-size: 80px;
}

header p{
    margin-top: -8vh;
}

header ul li{
    display: inline;
    font-size: 20px;
    margin-right: 20px;
}

header p{
    font-size: 20px;
}
main{
    position: absolute;
    font-family: "Poppins";
    font-size: 30px;
    padding: 4vw;
    min-width: 90vw;
    text-align: center;
}

.option-card{
    border: 2px solid rgba(124, 124,124);
    font-size: 20px;
    width: 45vw;
    margin-bottom: 20px;
    margin-left: 22vw;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(124, 124,124);
    min-height: 40px;
    padding: 20px;
}

.option-card:hover{
    background-color: rgba(135, 135,135);
    color: white;
}

.option-card:active{
    background-color: rgba(124, 124, 124);
}


.option-icon{
    height: 40px;
    width: 40px;
    animation: blink 1s linear infinite alternate;
}
@keyframes blink{
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}

input{
    border-radius: 10px;
    height: 30px;
    width: 50%;
    padding: 10px;
    border: 3px rgb(204, 204, 204) solid;
    background-color: rgb(204,204,204);
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 18px;
}

.button{
    width: 20%;
    display: block;
    margin: 0 auto;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: rgba(185,29,29,1);
    border: 3px rgba(185,29,29,1) solid;
    color: white;
    font-weight: bold;
    font-family: "Lexend"
}

footer{
    background-color: rgba(185,29,29,1);
    color: white;
    font-size: 15px;
    min-height: 40px;
    margin: -20px;
    margin-top: 50px;
    min-width: 90%;
    padding: 30px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
}
label{
    font-size: 20px;
}
.normal-list{
    margin-top: 30px;
}

.normal-list li a{
    color: black;
}

.normal-list li a:hover{
    color: rgb(177, 177, 177);
    text-decoration: underline;
}

.title h1{
    margin-left: 30px;
}

.hidden{
    display: none;
}

.cases h3{
    font-size: 60px;
}

.cases p{
    font-size: 30px;
}

.send-address:hover, .location:hover{
    background-color: white !important;
    color: #002159;

}

.update:hover{
    background-color: white !important;
    color: rgba(185,29,29,1);

}

.what-to-do-box{
    color: black;
    background-color: white;
    min-width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin-left: 0px;
    margin-right: 10px;
    box-shadow: 0px 5px 5px 0px rgba(124, 124,124);
}

.footerr{
    background-color: red;
    position: absolute;
}

.medic{
    background-image: linear-gradient(90deg, rgba(185,29,29,1) 0%, rgba(91,0,0,0.7572071064754027) 45%, rgba(0,21,57,0.3706524846266631) 91%), 
    url('assets/medic-background.jpg');
    border-radius: 30px;
    margin-top: 2% !important;
    max-height: 10% !important;
}

#calling, #address-p{
    font-size: 20px !important;
    margin: 20px !important;
}

.violence{
    background-image: linear-gradient(90deg, rgba(185,29,29,1) 0%, rgba(91,0,0,0.7572071064754027) 45%, rgba(0,21,57,0.3706524846266631) 91%), 
    url('assets/kekerasan-background.jpg');
    border-radius: 30px;
    margin-top: 2% !important;
    max-height: 10% !important;
}

.final{
    background-image: linear-gradient(180deg, rgba(29,140,185,1) 0%, rgba(0,91,87,0.7572071064754027) 45%, rgba(65,6,16,0) 100%), 
    url('assets/toa-heftiba-_UIVmIBB3JU-unsplash.jpg');
    border-radius: 30px;
    margin-top: 2% !important;
    max-height: 10% !important;
}

.about h4{
    font-size: 30px !important;
}

.about p{
    font-size: 20px !important;
}

@media screen and (max-width: 800px){
    footer{
        margin-left: -7.5vw;
    }
    .panel p{
        margin-left: 2vw !important;
    }

    .banner{
        border-radius: 0px !important;
        background-repeat: no-repeat !important;
        background-size: 200% 100%!important;
        margin-left: -2vw;
        width: 91vw;
        padding: 20px;
        
    }
    .banner ul{
        margin-right: 100px !important;
    }
    .banner ul li{
        font-size: 15px !important;
        margin-right: 30vw !important;
        
    }

    .banner ul li a{
        margin-top: 0vh!important;
    }

    .normal-banner ul li{
        font-size: 12px !important;
        margin-right: 5px !important;
    }

    .banner h1{
        font-size: 50px !important;
    }

    .banner p{
        font-size: 15px !important;
    }
    main{
        margin-left: -7.5vw!important;
    }

    .location{
        width: 100% !important;
        font-size: 15px !important;
    }

    .send-address{
        width: 30% !important;
        font-size: 15px !important;
    }
    #desc{
        margin-left: 0px !important;
    }

    #arrowdown{
        margin-top: 30px !important;
        height: 30px !important;
        width: 30px !important;
        float: center !important;
        margin-left: 40vw !important;
    }
    .option-card{
        margin-left: 20% !important;
        margin-bottom: 20px !important;
        margin-top: 10px !important;
    }
    .option-card p{
        font-size: 12px !important;
    }

    #menu p{
        font-size: 20px;
        margin: 0 auto !important;
    }
    #menu{
        margin-left: 20px !important;
    }

    hr{
        margin-left: 20px !important
    }

    #input-alamat{
        margin-left: 30px !important;
    }
    .credentials-form, .normal-main{
        margin-top: 10% !important;
        margin-left: 0vw !important;
    }

    .credentials-form h2{
        font-size: 30px !important;
    }
    .credentials-form input{
        width: 90% !important;
    }
    .normal-list{
        position: absolute;
        margin-top: 90px !important;
        background-color: white;
        z-index: 1;
        width: 100vw;
        padding-bottom: 20px;
        margin-left: -5vh;
    }

    .normal-list li{
        margin-left: 10px !important;
    }

    .normal-list li a{
        font-size: 15px !important;
    }
    .title{
        height: 70px !important;
        background-color: white!important;
        width: 100% !important;
    }
    .title h1{
        margin-left: 60px !important;
    }

    
    .cases h3{
        font-size: 30px !important;
        margin-top: 40px;
        padding-left: 10vw;
    }

    .cases p{
        font-size: 20px !important;
        padding-left: 10vw;
    }

    .what-to-do-box{
        margin-left: 30px !important;
        min-width: 20vw !important;
        padding: 50px !important;
    }

    .what-to-do-box p{
        font-size: 15px !important;
        margin-left: -5px !important;
        
    }
    .cases h3, p{
        margin-left: -20px !important; 
    }

    #calling, #address-p{
        font-size: 15px !important;
        margin: 20px !important;
    }

    header h1{
        padding-top: 70vh;
        width: 50vw !important;
        font-size: 40px !important;
    }

    header p{
        padding-top: 5vh;
    }

    label{
        font-size: 20px;
    }

    .adjustwidth{
        width: 100vw;
    }
    #disclaimer{
        margin-left: 10vw;
    }
    #credent{
        margin-left:3vw;
    }

    .credentials{
        margin-top: 25vh;
    }
}

/* Background Animation */
.circle-animation {
	position: absolute;
    min-height: 100vh;
    min-width: 90vw !important;
    padding: 4.5vw !important;
    margin-top: calc(-100vh - 4.5vw);
    margin-left: -4.5vw;
	overflow: hidden;
}
.circle-animation li {
	position: absolute;
	display: block;
	background: rgba(220, 229, 255, 0.219);
	animation: circle-animation 20s linear infinite;
    bottom: -50vh;
    border-radius: 100%;
}
.circle-animation li:nth-child(1) {
	left: 5%;
	width: 100px;
	height: 100px;
	animation-delay: 0s;
    animation-duration: 10s;
}
.circle-animation li:nth-child(2) {
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
    animation-duration: 10s;
}
.circle-animation li:nth-child(3) {
	left: 25%;
	width: 70px;
	height: 70px;
	animation-delay: 5s;
    animation-duration: 15s;
}
.circle-animation li:nth-child(4) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 1s;
    animation-duration: 15s;
}
.circle-animation li:nth-child(5) {
	left: 45%;
	width: 20px;
	height: 20px;
    animation-delay: 2s;
    animation-duration: 5s;
}
.circle-animation li:nth-child(6) {
	left: 55%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
    animation-duration: 15s;
}
.circle-animation li:nth-child(7) {
	left: 65%;
	width: 20px;
	height: 20px;
    animation-duration: 10s;
}
.circle-animation li:nth-child(8) {
	left: 75%;
	width: 200px;
	height: 200px;
	animation-delay: 1s;
    animation-duration: 15s;
}
.circle-animation li:nth-child(9) {
	left: 85%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
    animation-duration: 10s;
}
.circle-animation li:nth-child(10) {
	left: 95%;
	width: 50px;
	height: 50px;
    border-radius: 100%;
	animation-delay: 0s;
    animation-duration: 5s;
}
@keyframes circle-animation {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-1000px);
		opacity: 0;
	}
}
.home-list{
    margin-top: -2vh;
}
.home-list li{
    display: inline;
    font-size: 20px;
    margin: 0 2vw;

}

.accordion {
    background-color: rgb(224, 223, 223);
    border-radius: 20px;
    margin: 3px;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 18px;
    padding: 15px;
    font-family: "Lexend";
    font-weight: bold;
    float: center;
  }
  
  .active,
  .accordion:hover {
    background: rgba(185,29,29,1);
    color: white;
  }
  
  .panel {
    padding: 20px;
    border-radius: 10px;
    float: center;
    max-height: 0;
    margin: 10px;
    background-color: rgb(223, 222, 222);
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  
  .accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

